
*{
	margin:0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 14px;
	padding-right: 14px;
}

/*1a sección*/
header{
	background-color: #6AD2F3;
	height:100px;
	color: #FFF;
    font-weight: 400;
    position:fixed;
    width: 100%;
    z-index: 100;
}

header .container{
	text-align: center;
}

.container h1 {
	margin-top: 25px;
}



/*segunda sección*/

/*Imagen de fondo*/

section{
	background-image:url(../assets/img/star-trails-by-Christopher-Morrison.jpg); 
	background-size: cover;
	background-position: center;
	
}

.containercenter{
	margin-top:100px;
	width: 90%;
	height: 100vh;

	
}

/*Datos Twitter*/

.sidebox{
	width: 250px;
	height: 400px;
    color:#000;
	text-align: center;
    background-color: #fff;
    padding:2em;
    position: relative
}




/*text area*/

.posts{
	position: relative;
	
}



